In [1]:
import json
import pandas as pd
import pandemic

In [2]:
%%cmd
dir

Microsoft Windows [Version 6.3.9600]
(c) 2013 Microsoft Corporation. All rights reserved.

C:\Users\mpitlyk\Documents\Pandemic\Pandemic>dir
 Volume in drive C has no label.
 Volume Serial Number is 34DF-A9F2

 Directory of C:\Users\mpitlyk\Documents\Pandemic\Pandemic

08/15/2016  12:38 AM    <DIR>          .
08/15/2016  12:38 AM    <DIR>          ..
07/13/2016  11:41 PM    <DIR>          .ipynb_checkpoints
07/13/2016  12:47 AM               962 1_nodes.json
07/13/2016  12:47 AM            23,983 2_nodes.json
07/13/2016  12:48 AM           337,921 3_nodes.json
07/13/2016  12:55 AM         3,126,778 4_nodes.json
07/13/2016  01:32 AM        19,221,263 5_nodes.json
08/15/2016  12:38 AM            49,851 Analysis.ipynb
08/14/2016  11:27 PM        20,283,411 compiled_simulation_results.csv
07/12/2016  11:49 PM            55,854 output.txt
07/13/2016  12:28 AM             4,275 Pandemic Analysis-Copy1.ipynb
08/13/2016  12:19 AM            42,743 Pandemic Analysis.ipynb
07/12/2016  11:49 PM            21,850 pandemic.graphml.txt
07/13/2016  12:18 AM             7,919 pandemic.py
07/13/2016  12:28 AM             1,842 pandemic.pyc
              13 File(s)     43,178,652 bytes
               3 Dir(s)  13,624,111,104 bytes free

C:\Users\mpitlyk\Documents\Pandemic\Pandemic>

In [3]:
# Loop through all the json results files, load them into dataframe, rename the columns, 
# and concat them all together.

df = pd.concat([pd.read_json('{}_nodes.json'.format(i)).
                rename(columns={0:'Diameter', 1:'Stations', 2:'Num_Edges'})
                for i in xrange(1,6)],
                ignore_index=True)

In [4]:
df['Num_Stations'] = df.Stations.map(lambda x: len(x))

###### Absolute minimum diameter

In [5]:
df.Diameter.min()

5

In [6]:
min_dia = df[df.Diameter==5]
min_dia

        Diameter                 Stations  Num_Edges  Num_Stations
152181         5  [6, 10, 16, 18, 29, 48]        108             6
152182         5  [6, 10, 16, 18, 29, 49]        108             6
152184         5  [6, 10, 16, 18, 29, 47]        108             6
152428         5  [6, 10, 16, 19, 28, 49]        108             6
152446         5  [6, 10, 16, 19, 29, 48]        108             6
152447         5  [6, 10, 16, 19, 29, 49]        108             6
152449         5  [6, 10, 16, 19, 29, 47]        108             6
152480         5  [6, 10, 16, 19, 30, 48]        108             6
152481         5  [6, 10, 16, 19, 30, 49]        108             6
152483         5  [6, 10, 16, 19, 30, 47]        108             6
152757         5  [6, 10, 16, 20, 29, 48]        108             6
152758         5  [6, 10, 16, 20, 29, 49]        108             6
152760         5  [6, 10, 16, 20, 29, 47]        108             6
153027         5  [6, 10, 16, 22, 28, 49]        108             6
153045         5  [6, 10, 16, 22, 29, 48]        108             6
153046         5  [6, 10, 16, 22, 29, 49]        108             6
153048         5  [6, 10, 16, 22, 29, 47]        108             6
153079         5  [6, 10, 16, 22, 30, 48]        108             6
153080         5  [6, 10, 16, 22, 30, 49]        108             6
153082         5  [6, 10, 16, 22, 30, 47]        108             6
153268         5  [6, 10, 16, 23, 27, 48]        108             6
153269         5  [6, 10, 16, 23, 27, 49]        108             6
153271         5  [6, 10, 16, 23, 27, 47]        108             6
153285         5  [6, 10, 16, 23, 28, 48]        108             6
153286         5  [6, 10, 16, 23, 28, 49]        108             6
153288         5  [6, 10, 16, 23, 28, 47]        108             6
153302         5  [6, 10, 16, 23, 29, 48]        108             6
153303         5  [6, 10, 16, 23, 29, 49]        108             6
153305         5  [6, 10, 16, 23, 29, 47]        108             6
153333         5  [6, 10, 16, 23, 30, 48]        108             6
...          ...                      ...        ...           ...
432519         5   [6, 20, 29, 40, 48, 9]        108             6
432520         5   [6, 20, 29, 40, 48, 8]        108             6
432523         5   [6, 20, 29, 40, 49, 9]        108             6
432524         5   [6, 20, 29, 40, 49, 8]        108             6
432557         5   [6, 20, 29, 41, 47, 9]        108             6
432558         5   [6, 20, 29, 41, 47, 8]        108             6
432561         5   [6, 20, 29, 41, 48, 9]        108             6
432562         5   [6, 20, 29, 41, 48, 8]        108             6
432565         5   [6, 20, 29, 41, 49, 9]        108             6
432566         5   [6, 20, 29, 41, 49, 8]        108             6
432590         5   [6, 20, 29, 42, 47, 9]        108             6
432591         5   [6, 20, 29, 42, 47, 8]        108             6
432594         5   [6, 20, 29, 42, 48, 9]        108             6
432595         5   [6, 20, 29, 42, 48, 8]        108             6
432598         5   [6, 20, 29, 42, 49, 9]        108             6
432599         5   [6, 20, 29, 42, 49, 8]        108             6
432615         5   [6, 20, 29, 43, 46, 9]        108             6
432616         5   [6, 20, 29, 43, 46, 8]        108             6
432617         5   [6, 20, 29, 43, 47, 9]        108             6
432618         5   [6, 20, 29, 43, 47, 8]        108             6
432621         5   [6, 20, 29, 43, 48, 9]        108             6
432622         5   [6, 20, 29, 43, 48, 8]        108             6
432625         5   [6, 20, 29, 43, 49, 9]        108             6
432626         5   [6, 20, 29, 43, 49, 8]        108             6
433959         5   [6, 20, 30, 40, 47, 9]        108             6
433963         5   [6, 20, 30, 40, 48, 9]        108             6
433967         5   [6, 20, 30, 40, 49, 9]        108             6
434034         5   [6, 20, 30, 42, 47, 9]        108             6
434038         5   [6, 20, 30, 42, 48, 9]        108             6
434042         5   [6, 20, 30, 42, 49, 9]        108             6

[1168 rows x 4 columns]

In [7]:
min_dia.Num_Stations.min()

6

In [27]:
import itertools
from collections import Counter

In [29]:
c = Counter(itertools.chain(*min_dia.Stations))

In [32]:
map(lambda tup: (pandemic.city_num_to_names[tup[0]], tup[1]), c.most_common())

[(u'Atlanta', 1168),
 (u'Hong Kong', 572),
 (u'Cairo', 480),
 (u'Mexico City', 412),
 (u'Bogot\xe1', 354),
 (u'Lima', 326),
 (u'Taipei', 292),
 (u'Lagos', 204),
 (u'Khartoum', 196),
 (u'Milan', 195),
 (u'Essen', 195),
 (u'Delhi', 193),
 (u'Algiers', 189),
 (u'Chennai', 168),
 (u'Mumbai', 156),
 (u'Paris', 150),
 (u'Kinshasa', 148),
 (u'Shanghai', 148),
 (u'Johannesburg', 140),
 (u'St. Petersburg', 128),
 (u'Tehran', 118),
 (u'Madrid', 117),
 (u'London', 111),
 (u'Jakarta', 110),
 (u'Karachi', 102),
 (u'Baghdad', 101),
 (u'Tokyo', 99),
 (u'Bangkok', 88),
 (u'New York', 83),
 (u'Kolkata', 81),
 (u'Santiago', 77),
 (u'Seoul', 57),
 (u'Riyadh', 46),
 (u'S\xe3o Paulo', 2),
 (u'Buenos Aires', 2)]

In [38]:
most_common_in_min_combos_by_num_of_stats = df.groupby('Num_Stations').apply(lambda grp: Counter(itertools.chain(*grp[grp.Diameter==grp.Diameter.min()].Stations)))

In [39]:
most_common_in_min_combos_by_num_of_stats

Num_Stations
2    {u'16': 1, u'42': 1, u'43': 1, u'40': 1, u'41'...
3    {u'24': 5, u'25': 4, u'26': 4, u'27': 4, u'20'...
4    {u'13': 3, u'30': 4, u'14': 3, u'48': 6, u'49'...
5    {u'42': 94, u'22': 79, u'43': 130, u'36': 74, ...
6    {u'42': 148, u'43': 204, u'49': 412, u'24': 81...
dtype: object

In [12]:
# Graph Num_Occurrences (as a percentage of combinations) against num of stations.

In [ ]:
# Cluster cities to see which ones are interchangable.

# Create list of tuples: (index, station number)
tups = []
for row in min_dia.Stations.iteritems():
    for elt in list(row[1]):
        tups.append((row[0], elt))

tups_T = zip(*tups)
city_occurrences = (pd.Series(tups_T[1], tups_T[0]).value_counts()
 .reset_index()
 .assign(City_Name=lambda df: df['index'].map(pandemic.city_num_to_names))
 .rename(columns={0:'Num_Occurences', 'index':'City_Number'}))

city_occurrences